body {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: lightskyblue; /* Set your desired background color */
    color: #333; /* Set a font color that contrasts well with the background */
    border: 1px solid #D6A800; /* Set the border style and color */
    padding: 10px; /* Set the padding around the content */
    font-family: 'Roboto', sans-serif;
	border-radius: 5px;
  }

  a:link {
    text-decoration: none;
    text-align: right;
  }

  a:hover {
    color: #D6A800;
    text-decoration: underline;
  }
  
  a:visited {
    color: deepskyblue;
    text-decoration: underline;
  }